<h1>Login</h1>

<%= form_tag(login_path) %>
  <%= label_tag "Email:"%>
  <%= text_field_tag :email,'', :placeholder => "Please Put In Your Email"%>
  <br>
  <%= label_tag "Password:"%>
  <%= password_field_tag :password,'', :placeholder => "Please Input Your Password"  %>
  <br>
  <%= submit_tag "Login"%>
  <br>
  <%= link_to "Login with Github", "/auth/github"%>

  <p>New User? <%= link_to "Sign Up Now!", signup_path%></p>
